<!doctype html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>LeadCRM | Manage Leads</title>

    <link rel="stylesheet" href="{% static 'css/adminlte.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <style>
      .collapse-row td {
        background: #f8f9fa;
      }
      .history-item {
        border-left: 3px solid #dc3545;
        padding-left: 10px;
        margin-bottom: 8px;
      }
    </style>
  </head>

  <body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">
    <div class="app-wrapper">
      {% include 'navbar.html' %} {% include 'sidebar.html' %}

      <main class="app-main">
        <div class="container-fluid mt-4">
          <div class="app-content-header">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">LeadCRM</h3></div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item">
                      <a href="{% url 'dashboard' %}" style="color: black">Home</a>
                    </li>
                                              {% if request.user.profile.is_admin or  request.user.profile.is_lgs %}

                    <li class="breadcrumb-item" aria-current="page">
                      <a href="{% url 'AddLead' %}" style="color: black"
                        >Create Lead
                      </a>
                    </li>
                    {% endif %}
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Manage Leads</h3>
            </div>

            <div class="card-body">
              <table class="table table-bordered table-hover align-middle">
                <thead class="table-light">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Assigned</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Next Followup</th>
                    <th>Source</th>
                    <th>Budget</th>
                    <th>Added</th>
                    <th>Created By</th>
                    <th width="120">Actions</th>
                    <th>History</th>
                  </tr>
                </thead>

                <tbody id="leadAccordion">
                  {% for lead in leads %}

                  <tr
                    class="{% if lead.is_converted %}table-success{% endif %}"
                    target-id="{{lead.id}}"
                  >
                    <td>{{ forloop.counter }}</td>

                    <td>
                      <strong>{{ lead.full_name }}</strong><br />
                      <small class="text-muted">{{ lead.mobile_number }}</small>
                    </td>

                    <td>
                      {% for u in lead.assigned_to.all %}
                      <span class="badge bg-info">{{ u.username }}</span>
                      {% empty %}
                      <span class="text-muted">Open</span>
                      {% endfor %}
                    </td>

                    <td>
                      {% if lead.priority == "high" %}
                      <span class="badge bg-danger">High</span>
                      {% elif lead.priority == "medium" %}
                      <span class="badge bg-warning text-dark">Medium</span>
                      {% else %}
                      <span class="badge bg-success">Low</span>
                      {% endif %}
                    </td>

                    <td>
                      <span class="badge bg-{{ lead.get_status_badge }}">
                        {{ lead.get_status_display }}
                      </span>
                    </td>

                    <td>
                      {% if lead.latest_followup and lead.latest_followup.next_followup_date %} {{lead.latest_followup.next_followup_date }} {% else %} — {%endif %}
                    </td>

                    <td>{{ lead.get_source_display }}</td>
                    <td>{{ lead.budget|default:"—" }}</td>
                    <td>{{ lead.date_added|date:"Y-m-d" }}</td>
                    <td>{{ lead.lead_created_by }}</td>

                    <td>
                      {% if not lead.is_converted %}

                      <div class="dropdown">
                        <button
                          class="btn btn-sm btn-secondary dropdown-toggle"
                          data-bs-toggle="dropdown"
                        >
                          Actions
                        </button>

                        <ul class="dropdown-menu">
                          <!-- Edit only Admin & LGS -->
                          {% if request.user.profile.is_admin or  request.user.profile.is_lgs or  request.user.profile.is_salesman  %}
                         
                          <li>
                            <a
                              class="dropdown-item"
                              href="{% url 'EditLead' lead.id %}?next={{ request.get_full_path|urlencode }}"
                            >
                              <i class="bi bi-pencil-square me-2"></i> Edit
                            </a>
                          </li>
                          {% endif %}

                          <!-- Followup Admin / LGS / Salesman -->
                          {% if request.user.profile.is_admin or  request.user.profile.is_salesman %}
                          
                          <li>
                            <a
                              class="dropdown-item"
                              href="{% url 'AddEditFollowup' lead.id %}?next={{ request.get_full_path|urlencode }}"
                            >
                              <i class="bi bi-telephone me-2"></i> Add Followup
                            </a>
                          </li>

                          {% endif %}
                        </ul>
                      </div>

                      {% else %}
                      <span class="badge bg-success">Converted</span>
                      {% endif %}
                    </td>

                    <td>
                      <button
                        class="btn btn-sm btn-outline-secondary"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ lead.id }}"
                        aria-expanded="false"
                      >
                        <i class="bi bi-chevron-down"></i>
                      </button>
                    </td>
                  </tr>

                  <!-- COLLAPSE -->
                   {% include 'lead_activity_timeline.html' with lead=lead %}
                  
          
                  {% empty %}
                  <tr>
                    <td colspan="12" class="text-center text-muted">
                      No leads found.
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>

      {% include 'footer.html' %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/adminlte.js' %}"></script>

    {% include "add_call_logs.html" with lead=lead %}
  </body>
</html>
<script>
  function setCallLogAction(button) {
    let leadId = button.dataset.leadId;
    let nextUrl = encodeURIComponent(button.dataset.next);

    let form = document.getElementById("callLogForm");

    form.action = "/add-call-log/" + leadId + "/?next=" + nextUrl;
  }
</script>


<script>
document.addEventListener("DOMContentLoaded", function () {

    let hash = window.location.hash;

    if (hash) {

        let collapseElement = document.querySelector(hash);

        if (collapseElement) {

            let bsCollapse = new bootstrap.Collapse(collapseElement, {
                toggle: true
            });

            // optional: scroll to the lead
            collapseElement.scrollIntoView({behavior: "smooth"});
        }

    }

});
</script>
